.header{
    margin:10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;

}
.logo {
     cursor: pointer;
     font-size: 2rem;
     display: flex;
     gap:1.5rem;
     align-items: center;
     color: #ece1fa;
}
.button{
    display: inline-flex;
    padding: 20px;
    gap: 1rem;
}