
.main{
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    box-sizing: border-box;
    
}

.postcontainer{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}


